html, body{padding: 0 0 0 0;
margin: 0 0 0 0;
position: absolute;}
#background{
filter: grayscale(75%) blur(2px) brightness(1);
position: absolute;
margin: 0;
padding: 0;
object-fit: cover;
height: 100vh;
width: 100vw;
}
#overlay{background-color: rgba(43, 159, 226, 0.75);
color: black;
height: 100vh;
width: 100vw;
position: absolute;
}
h1 {color:white;
position: absolute;
width: 100%;
text-align: center;
font-size: 70px;
margin: 0;
padding: 0;
font-family:'Raleway';
font-weight: 700;}
h2 {color: white;
position: absolute;
width: 100%;
text-align: center;
margin: 0;
padding: 0;
font-family:'Raleway';
font-weight: 500;
font-style: italic;
}
#welcome-section {height: 100vh;
width: 100vw;
position: relative;}

#navbar {position: fixed;
color: black;
top: 0;
width: 100%;
z-index: 1;
text-align: center;}