html, body{padding: 0 0 0 0;
margin: 0 0 0 0;
position: absolute;
overflow-x: hidden;
width: 100vw;
}
#background{
filter: grayscale(75%) blur(1px) brightness(1);
position: absolute;
margin: 0;
padding: 0;
object-fit: cover;
height: 100vh;
width: 100vw;
}
#overlay{background: linear-gradient( rgba(112, 58, 114, 0.75), rgba(245, 37, 134, 0.75));
height: 100.1vh;
width: 100vw;
position: absolute;
}
h1 {color:white;
position: absolute;
width: 100%;
text-align: center;
font-size: 70px;
margin: 0;
padding: 0;
font-family:'Raleway';
font-weight: 700;
top: 40%;}
h2 {color: white;
position: absolute;
width: 100%;
text-align: center;
margin: 0;
padding: 0;
font-family:'Raleway';
font-weight: 500;
font-style: italic;
top: 52%;
}
h3 {font-family: 'raleway';
text-align: center;
}
#welcome-section {height: 100vh;
width: 100vw;
position: relative;}

#navbar {position: fixed;
top: 0;
width: 100%;
z-index: 1;
text-align: center;
font-family:'Raleway';
font-weight: 600;
padding: 20px 0 0 0;
margin: 0;
}

a:link {
    text-decoration: none;
    
}
 a:visited {
    text-decoration: none;
    
}
 a:hover {
    text-decoration: underline;
    
}
a:active {
    text-decoration: underline;
    
}

.button {background-color: white;
color: black;
padding: 5px 10px 5px 10px;
border-radius: 30px;
font-size: 17px;
border: solid rgb(197, 197, 197) 3px;}

#about {display: flex;
padding: 100px 200px 0 200px;
font-family: 'raleway';
font-weight: 500;
font-size: 40px;
font-style: italic;}

#projects {padding: 100px 000px 0 000px;
    margin: 0px 150px 0 150px;
    
}

.project-tile {  
width: 350px;
height: 310px;
font-family: raleway;
font-weight: 400;
display: flex;
flex-direction: row;
margin: 20px;
}


.project-tile img {width: 370px;
height: 260px;
margin: 0;
padding: 0;
object-fit: cover;}

#profile-pic {height: 325px;
width: 325px;
border-radius: 50%;
padding: 0 0 0 0;
margin: 0 35px 0 0;
}

.project-title {text-align: center;
position: relative;
top: -20px;
background-color: rgb(197, 197, 197);
height: 50px;
margin: 0;
padding: 0;
}

.project-title p {position: relative;
top: 15px;
font-family: "raleway";
color: black;}


#container {display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

@media {max-width: 1920px;} {h2{top: 46%}}

#starships {
    padding: 0 50px 0 50px;
    margin: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
}

#planets {
    padding: 0 50px 0 50px;
    margin: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
}

.sscontainer {
    background-color: #c5c5c5;
    display: flex;
    flex-direction: row;
    width: 420px;
    align-items: center;
    font-family: raleway;
    border-radius: 5px;
    height: 230px;
    margin: 10px;
    padding-right: 10px;
    line-height: 19px;
    flex-basis: 31%;
}

.sscontainer img {
  margin-right: 20px;
  margin-left: 20px;
}

.planetcontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c5c5c5;
    border-radius: 5px;
    width: 180px;
    height: 325px;
    padding: 20px;
    margin: 10px;
    line-height: 20px;

}

.planetcontainer img{
    position: absolute;
    top: 25px;
}

.planetcontainer .info {
    position: absolute;
    top: 170px;
}


.planetcontainer p {
    text-align: center;
    font-family: raleway;
    margin-top: 8px;
    margin-bottom: 0;
}

#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.swbutton {
    margin: 0 20px;
    padding: 15px 25px;
    height: 52px;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    border: 2px solid #afafaf;
    font-family: raleway;
}

.swbutton:hover {
    background-color: rgb(197, 197, 197);
}